*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #6e5c75;
  font-family: sans-serif;
  outline: none;
}
h1
{
  font-family: sans-serif;
  color: #9e86a7;
  padding-top: 10px;
  padding-bottom: 50px;
}
.container
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator
{
  background-color: #6e5c75;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #9e86a7,
                    5px 5px 12px rgba(0,0,0,0.5);

}
button {
  font-size: 6px;
  border-radius: 20px;
  background-color: #7b6085;
  height: 50px;
  width: 50px;
  margin: 7px;
  box-shadow: inset -5px -5px 12px #9e86a7,
                    5px 5px 12px rgba(0,0,0,0.15);
  border: none;
  font-size: 15px;
}
button:hover
{
  background-color: #9e86a7;
}
input{
  width: 240px;
  height: 50px;
  margin: 20px 10px 20px 10px;
  background-color: #9e86a7;
  box-shadow: inset -5px -5px 12px #9e86a7,
                    5px 5px 12px rgba(0,0,0,0.15);
  color: black;
  border: none;
  border-radius: 20px;
  font-size: 40px;
  text-align: right;
  padding: 10px;
}
input:hover
{
  background-color:#7b6085 ;
}
.equals
{
  width: 117px;
  border-radius: 40px;
}
